<%- include("partials/header") %>

<% blogs.forEach(function(blog) { %> 
  <div>
    <h2><%= blog.title %></h2>
    <img style="width: 450px; height: auto;" src="<%= blog.image %>" alt="">
    <span><%= blog.created %></span>
    <p><%= blog.body %></p>
  </div>
<% }); %>

<%- include("partials/footer") %>